.idea
/*.iml
.DS_Store
venv
__pycache__
**/credentials.json
**/token.pickle
logs/
/build/
/junit/
/.pytest_cache/
/yarn_dev_tools.egg-info/
dist
yarndevtools/cdsw/yarndevtools-results
/yarndevtools/cdsw/scripts/libreloader/