flake8
pytest>=3.6
pytest-cov
setuptools~=54.1.2
pre-commit
git+https://github.com/szilard-nemeth/python-commons.git
git+https://github.com/szilard-nemeth/google-api-wrapper.git
requests
bs4~=0.0.1
coolname
httpretty
jira
requests~=2.26.0

# Python 2
pathlib
beautifulsoup4~=4.9.3