git+https://github.com/szilard-nemeth/python-commons.git
git+https://github.com/szilard-nemeth/google-api-wrapper.git
git+https://github.com/szilard-nemeth/yarn-dev-tools.git
humanize
docker
jira
dataclasses-json
dacite
pytest